@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --main-color: #BB8DFF;
    --accent-color: #FFF282;
    --supper-accent-color: #FF5777;
    --dark-color: #545F71;
    --light-color: #F8F4FF;

    /* Typography */
    --fs-80: clamp(2.5rem, 6.25vw, 3rem);
    --fs-32: clamp(1.25rem, 2.5vw, 2rem);
    --lh-140: 1.4;
    --fs-24: clamp(1rem, 1.875vw, 1.5rem);
    --lh-110: 1.1;
    --fs-20: clamp(0.875rem, 1.5625vw, 1.25rem);
    --fs-18: clamp(0.8125rem, 1.40625vw, 1.125rem);
    --fs-12: clamp(0.625rem, 0.9375vw, 0.75rem);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-color);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.poster {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    max-width: 799px;
    height: fit-content;
    backdrop-filter: blur(5px);
    padding: clamp(24px, 5vw, 64px) clamp(16px, 10vw, 128px);
    background-color: color-mix(in srgb, var(--light-color) 80%, transparent);
    border-radius: 12px;
}

.poster-logo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 8px 40px;
    width: fit-content;
    max-width: 400px;
    max-height: 300px;
    background-color: color-mix(in srgb, var(--light-color) 80%, transparent);
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.poster-logo-img {
    display: block;
    padding-top: 10px;
    max-width: 214px;
    max-height: 152px;
    object-fit: cover;
}

.poster-logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    width: 100%;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 700;
}

.poster-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    padding: 10px;
}

.poster-slogan-text {
    width: 100%;
    text-align: center;
    font-size: var(--fs-80);
    font-weight: 700;
}

.dark-text {
    color: var(--dark-color);
}

.accent-text {
    color: var(--supper-accent-color);
}

.poster-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.poster-button {
    background-color: var(--main-color);
    border-radius: 12px;
    padding: 10px 24px;
    max-width: fit-content;
    border: none;
    cursor: pointer;
    font-size: var(--fs-32);
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: var(--lh-140);
    color: var(--light-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.poster-button-text {
    color: var(--dark-color);
    font-size: var(--fs-24);
    opacity: 60%;
}


/* Background elements */
.background-elements img {
    position: absolute;
}

#hi {
    position: absolute;
    top: -20px;
    left: 20px;
    width: clamp(60px, 7vw, 120px);
    height: auto;
    z-index: 1;
    pointer-events: none;
}

#black-eclipse {
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#eyes {
    bottom: 15vh;
    left: 10vw;
    width: clamp(60px, 12vw, 280px);
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#ellipse-3 {
    right: 7.3vw;
    transform: rotate(-8deg);
    bottom: 21vh;
    width: clamp(50px, 9vw, 250px);
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#smile-4 {
    top: 15vh;
    right: 22vw;
    width: clamp(50px, 10vw, 240px);
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#ellipse-15 {
    width: 100%;
    bottom: 0;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#ellipse-16 {
    top: 15.3vh;
    right: 25vw;
    width: clamp(30px, 8vw, 240px);
    height: auto;
    z-index: -2;
    pointer-events: none;
}

#ellipse-19 {
    bottom: 14vh;
    left: 2vw;
    width: clamp(30px, 5.5vw, 150px);
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#ellipse-17 {
    bottom: 13.5vh;
    left: 2vw;
    width: clamp(30px, 4vw, 90px);
    height: auto;
    z-index: -1;
    pointer-events: none;
}

#ellipse-12 {
    top: -0.4vh;
    right: -1vw;
    width: 97vw;
    height: auto;
    z-index: -3;
    pointer-events: none;
}

#ellipse-13 {
    top: 15vh;
    right: 10vw;
    width: 80vw;
    height: auto;
    z-index: -3;
    pointer-events: none;
}

#ellipse-17 {
    top: 35vh;
    left: 7.2vw;
    width: clamp(30px, 8vw, 180px);
    height: auto;
    transform: rotate(5deg);
    z-index: 1;
    pointer-events: none;
}

#ellipse-18 {
    top: 8vh;
    left: 0;
    width: clamp(30px, 8vw, 180px);
    height: auto;
    z-index: 1;
    pointer-events: none;
}